/* CSS Document */

/* Height notes */
/* 9.5vh = height of logo */
/* 1.5vh + font height + 3px */
/* 2vh + font height = height of quotes */
/* */
/* */
/* */
/* */

@keyframes slideUp {
	0% {
	  	max-height: 0;
	  	opacity: 0;
	}
	33% {
		opacity: 0;
	}
	66% {
		max-height: calc(2vh + 12.8em);
	}
	100%{
		opacity: 1;
	}
}

@keyframes slideDown {
	0%{
		opacity: 1;
	}
	33% {
		max-height: calc(2vh + 12.8em);
	}
	66% {
		opacity: 0;
	}
	100% {
	  	max-height: 0;
	  	opacity: 0;
		padding: 0;
		margin: 0;
	}
}

.miniLogo {
	height: 1.25em;
}

div.userInfo h3 {
	margin-bottom: .25em;
	margin-top: 0;
}

section {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.padded {
	padding: 1em;
}

.textBoxReplacement {
	min-height: 4em;
}

.replyEntry {
	padding-top: 1vh;
	border-top: dotted;
	border-width: 1px;
	animation: 1s slideUp;
	margin-top: 1vh;
}

.slideUp {
	display: none;
    position: absolute;
    bottom: calc(2em + 3.5vh + 7px);
    min-width: inherit;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	padding: 1em;
}

#settingsDisplay button {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: .5em;
	margin-top: .5em;
}

#aboutText, #settingsDisplay {
	text-align: center;
	width: inherit;
	display: none;
	padding: 1em;
	flex-direction: column;
    flex: 1;
	margin-top: 12.5vh;
}

#aboutText p {
	text-align: left;
}

h1, h4 {
	margin: 0;
}
h1{
	color: #D7263D;
	font-size: 2em;
}
h4 {
	font-size: 1em;
}

ul {
  	list-style: none;
	padding-left: 0;
}

.center {
	text-align: center;
}

.tweed {
	border-width: 3px;
	border-color: #2176FF;
	border-bottom-style: double;
	border-radius: 3vh;
	padding-left: 1vw;
	padding-right: 1vw;
	padding-bottom: 1vh;
	padding-top: 1vh;
	text-align: center;
	animation: 1s slideUp;
	opacity: .8;
	background-color: #D6E6FF;
}

.metadata {
	font-size: .9em;
}

.metadata div {
	display: inline;
}

.metadata div.user, .metadata div.time {
	display: block;
	margin: .5em;
}

.iconUsable {
	height: 1.5em;
}

div.favorite, div.reply, div.retweed, div.trash, .replyToNote, .followUser, div.transfer, .replies, div.share {
	border: solid;
	border-width: 1px;
	border-radius: 7px;
	display: inline-block;
	padding-left: .3em;
	padding-right: .3em;
	padding-top: .2em;
	padding-bottom: .1em;
	margin: .2em;
	white-space: pre;
	background: white;
}
div.favorite:hover, div.reply:hover, div.retweed:hover, div.trash:hover, .replyToNote:hover, .followUser:hover, div.transfer:hover, .replies:hover, div.share:hover {
	cursor: pointer;
}

.followUser {
	margin-left: .5em;
	padding-bottom: .2em;
}

.displayReply {
	padding-top: 0;
}

.displayReplies {
	padding-bottom: 0;
}

/* Combine these somehow? */
div.replyToNote {
	margin-top: 0;
	margin-bottom: .5em;
	border: dotted;
	border-top: none;
	border-width: 1px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	display: inline-block
}
div.replies {
	margin-top: .5em;
	margin-bottom: 0;
	border: dotted;
	border-bottom: none;
	border-width: 1px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	display: inline-block;
}

.reply_disp {
	border-bottom-style: dotted;
	padding-left: 0;
	padding-right: 0;
	border-width: 1px;
	animation: 1s slideUp;
}
.reply_disp_hide {
	animation: 1s slideDown;
}

div.displayReplies div.tweed {
	border-top-style: dotted;
	border-bottom-style: none;
	padding-left: 0;
	padding-right: 0;
	border-width: 1px;
	animation: 1s slideUp;
}

div.displayReplies div.tweed div.replyToNote{
	display: none;
}

.text {
	margin: .3em;
	font-size: 1.1em;
	text-align: left;
	white-space: pre-wrap;
	height: 4.2em;
	overflow-y: auto;
	resize: vertical;
	display: inline-block;
	max-width: 100%;
}

#userSettings {
	border-top-left-radius: 3vh;
}

#about {
	border-top-right-radius: 3vh;
}

#holder {
	flex-direction: column;
    flex: 1;
	background-image: url("Resources/1880_980_Saturn.jpeg");
	background-position: center;
	background-color: #454A66;
}

#feed {
	margin-top: calc(.5em + 2em + 1em + .5em + 3px + 1.5vh + 1.5em);
	overflow-y: auto;
	overflow-x: hidden;
	height: calc(100vh - .5em - 2em - 1em - .5em - 3px - 1.5vh - 1.5em - 4em - 2.5em);
	max-height: calc(100vh - .5em - 2em - 1em - .5em - 3px - 1.5vh - 1.5em - 4em - 2.5em); /* [[Need to calculate]] */
}

.media {
	text-align: center;
	max-height: 25vh;
}

body {
	margin: 0;
	overflow-y: hidden;
	color: #00072D;
}

textarea {
	width: 70%;
    padding: .5em 1em;
    resize: vertical;
	min-height: 3em;
}

button {
	border-width: 1px;
	padding: .5em;
}

textarea.stringInputBox {
	height: 3em;
}

.logo_header {
	width: auto;
	height: 40vh;
	margin-top: -16.5vh;
	margin-bottom: -14vh;
}

header {
    position: absolute;
	width: 100%;
	background-color: #00072D;
	padding-top: .5em;
	color: #2176FF;
}

#newString {
	transition: background-color .5s ease;
}
#mainButton {
	transition: background-color .5s ease;
}

.navBar {
	display: inline-block;
	border-width: 3px;
	border-top-style: double;
	padding-bottom: 1vh;
	padding-top: .5vh;
	min-width: 7em;
	margin-top: .5em;
}

.navBar:hover {
	cursor: pointer;
}

.content {
	padding-left: 1em;
	padding-right: 1em;
}

/* Portrait */
@media screen and (orientation:portrait) {
	.content {
		margin-right: calc(10vw - 6px - 1em);
    	margin-left: calc(10vw - 6px - 1em);
	}
}
/* Landscape */
@media screen and (orientation:landscape) {
	.content {
		margin-right: calc(25vw - 6px - 1em);
    	margin-left: calc(25vw - 6px - 1em);
	}
}

a {
}

/* mouse over link */
a:hover {
}