/* CSS Document */

/* Height notes */
/* 9.5vh = height of logo */
/* 1.5vh + font height + 3px */
/* 2vh + font height = height of quotes */
/* */
/* */
/* */
/* */

@keyframes slideUp {
	0% {
	  	max-height: 0;
	  	opacity: 0;
	}
	33% {
		opacity: 0;
	}
	66% {
		max-height: calc(2vh + 12.8em);
	}
	100%{
		opacity: 1;
	}
}

@keyframes slideDown {
	0%{
		opacity: 1;
	}
	33% {
		max-height: calc(2vh + 12.8em);
	}
	66% {
		opacity: 0;
	}
	100% {
	  	max-height: 0;
	  	opacity: 0;
		padding: 0;
		margin: 0;
	}
}

.miniLogo {
	height: 1.25em;
}

#feed {
	padding-top: 7.5vh;
}

div.userInfo h3 {
	margin-bottom: .25em;
	margin-top: 0;
}

section {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.padded {
	padding: 1em;
}

.textBoxReplacement {
	min-height: 4em;
}

.replyEntry {
	padding-top: 1vh;
	border-top: dotted;
	border-width: 1px;
	border-color: rgb(19,96,166);
	animation: 1s slideUp;
	margin-top: 1vh;
}

.slideUp {
	display: none;
    position: absolute;
    bottom: calc(2em + 3.5vh + 7px);
    background-color: #f1f1f1;
    min-width: inherit;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	color: black;
	padding: 1em;
}

#settingsDisplay button {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: .5em;
	margin-top: .5em;
}

#aboutText, #settingsDisplay {
	text-align: center;
	width: inherit;
	display: none;
	padding: 1em;
	flex-direction: column;
    flex: 1;
	margin-top: 12.5vh;
}

#aboutText p {
	text-align: left;
}

h1 {
	margin-top: .5em;
	color: rgb(19,96,166);
}
h3 {
	color: rgb(19,96,166);
}

ul {
  	list-style: none;
	padding-left: 0;
}

.center {
	text-align: center;
}

.tweed {
	border-width: 3px;
	border-bottom-style: double;
	border-color: rgb(19,96,166);
	padding-left: 1vw;
	padding-right: 1vw;
	padding-bottom: 1vh;
	padding-top: 1vh;
	text-align: center;
	animation: 1s slideUp;
}

.metadata {
	font-size: .9em;
}

.metadata div {
	display: inline;
}

.metadata div.user, .metadata div.time {
	display: block;
	margin: .5em;
}

.iconUsable {
	height: 1.5em;
}

div.favorite, div.reply, div.retweed, div.trash, .replyToNote, .followUser, div.transfer, .replies, div.share {
	border: solid;
	border-width: 1px;
	border-radius: 7px;
	display: inline-block;
	padding-left: .3em;
	padding-right: .3em;
	padding-top: .2em;
	padding-bottom: .1em;
	margin: .2em;
	white-space: pre;
	background: white;
	color: black;
}
div.favorite:hover, div.reply:hover, div.retweed:hover, div.trash:hover, .replyToNote:hover, .followUser:hover, div.transfer:hover, .replies:hover, div.share:hover {
	cursor: pointer;
}

.followUser {
	margin-left: .5em;
	padding-bottom: .2em;
}

.displayReply {
	padding-top: 0;
}

.displayReplies {
	padding-bottom: 0;
}

div.replyToNote {
	margin-top: 0;
	margin-bottom: .5em;
	border: dotted;
	border-top: none;
	border-width: 1px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-color: rgb(19,96,166);
	display: inline-block
}
div.replies {
	margin-top: .5em;
	margin-bottom: 0;
	border: dotted;
	border-bottom: none;
	border-width: 1px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-color: rgb(19,96,166);
	display: inline-block;
}

.reply_disp {
	border-bottom-style: dotted;
	padding-left: 0;
	padding-right: 0;
	border-width: 1px;
	animation: 1s slideUp;
}
.reply_disp_hide {
	animation: 1s slideDown;
}

div.displayReplies div.tweed {
	border-top-style: dotted;
	border-bottom-style: none;
	padding-left: 0;
	padding-right: 0;
	border-width: 1px;
	animation: 1s slideUp;
}

div.displayReplies div.tweed div.replyToNote{
	display: none;
}

.text {
	margin-top: .3em;
	margin-bottom: .25em;
	font-size: 1.1em;
	text-align: left;
	white-space: pre-wrap;
	height: 4.2em;
	overflow-y: auto;
	resize: vertical;
	display: inline-block;
	max-width: 100%;
}

#userSettings {
	border-bottom-left-radius: 3vh;
}

#about {
	border-bottom-right-radius: 3vh;
}

#holder {
	overflow-y: auto;
	overflow-x: hidden;
	flex-direction: column;
    flex: 1;
	background: rgb(8,29,46);
}

.media {
	text-align: center;
	max-height: 25vh;
}

body {
	margin: 0;
	overflow-y: hidden;
}

textarea {
	width: 70%;
    padding: .5em 1em;
	background-color: rgba(255, 255, 255, 0.7);
    resize: vertical;
	min-height: 3em;
	font-family: 'Source Sans Pro', sans-serif;
}

body {
	font-family: 'Questrial', sans-serif;
}

button {
	background-color: rgba(255, 255, 255, 0.7);
	border-color: rgb(169, 169, 169);
	font-family: 'Quicksand', sans-serif;
	border-width: 1px;
	padding: .5em;
}

textarea.stringInputBox {
	height: 3em;
}

.logo_header {
	width: auto;
	height: 40vh;
	margin-top: -16.5vh;
	margin-bottom: -14vh;
}

header {
	position: -webkit-sticky; /* Safari */
    position: sticky;
    top: -9vh;
}
#newTweed {
	position: -webkit-sticky; /* Safari */
    position: sticky;
    top: .5vh;
}

#newString {
	transition: background-color .5s ease;
}
#mainButton {
	transition: background-color .5s ease;
}

footer {
	background-image: url("Resources/space.jpg");
	color: white;
}

.footerTab {
	display: inline-block;
	border-width: 3px;
	border-bottom-style: double;
	border-left-style: double;
	border-right-style: double;
	padding-bottom: 1vh;
	padding-top: .5vh;
	min-width: 7em;
}

.footerTab:hover {
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-style: solid;
	cursor: pointer;
}

#quotes {
	padding: 1vh;
	display: table;
	margin: auto;
	transition: opacity .5s ease;
}

.content {
	padding-left: 1em;
	padding-right: 1em;
	color: white;
}

/* Portrait */
@media screen and (orientation:portrait) {
	.content {
		margin-right: calc(10vw - 6px - 1em);
    	margin-left: calc(10vw - 6px - 1em);
	}
}
/* Landscape */
@media screen and (orientation:landscape) {
	.content {
		margin-right: calc(25vw - 6px - 1em);
    	margin-left: calc(25vw - 6px - 1em);
	}
}

a {
    color: rgb(54,162,227);
}

/* mouse over link */
a:hover {
    color: rgb(168,153,220);
}